[Unit]
Description=patchup-agent: patch management agent
After=network-online.target remote-fs.target nss-lookup.target
Requires=patchup-agent.socket patchup-agent-refresh.timer
Wants=network-online.target

[Service]
ExecStart=/usr/bin/patchup agent -vv
Environment=PATCHUP_AGENT_DATA=.
DynamicUser=yes
StateDirectory=patchup
WorkingDirectory=/var/lib/patchup

CapabilityBoundingSet=
LockPersonality=yes
MemoryDenyWriteExecute=yes
PrivateDevices=yes
ProtectControlGroups=yes
ProtectHome=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
RestrictNamespaces=yes

[Install]
WantedBy=multi-user.target
