[Unit]
Description=patchup-agent: refresh system state
After=patchup-agent.service patchup-agent.socket
Requires=patchup-agent.service
Wants=network-online.target

[Service]
ExecStart=/usr/bin/patchup agent --refresh /run/patchup.sock -vv
SyslogIdentifier=%N

LockPersonality=yes
MemoryDenyWriteExecute=yes
